<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>CRUD</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
    <nav class="navbar navbar-dark">      
      </nav>            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              </li>                               
            </ul>            
          </div>
        </div>
      </nav>
      <% if(productos) { %>
      <div class="container mt-4">     
            <div class="card border-secondary">  
                <div class="card-header">Editar Registro</div>
                <div class="card-body">
                    <form action="/update" method="POST">
                        <input id="idProducto" name="idProducto" value="<%= productos.idProducto %>" hidden>
                        <div class="mb-3">
                        <label for="productos" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" value="<%= productos.Nombre %>" name="nombre" tabindex="1">
                        </div>
                        <div class="mb-3">
                            <label for="productos" class="form-label">Equipo</label>
                            <input type="text" class="form-control" id="equipo" name="equipo" value="<%= productos.Equipo %>" tabindex="1">
                        </div>    
                        <div class="mb-3">
                        <label for="productos" class="form-label">Talla</label>
                        <select id="talla" name="talla" class="form-select" aria-label="Default select example" tabindex="2">
                            <option <%= productos.Talla=='S' ? "selected" : '' %>value="S">S</option>
                            <option <%= productos.Talla=='M' ? "selected" : '' %>value="M">M</option>
                            <option <%= productos.Talla=='L' ? "selected" : '' %>value="L">L</option>
                            <option <%= productos.Talla=='XL' ? "selected" : '' %>value="XL">Xl</option>                           
                        </select>
                        </div>
                        <div class="mb-3">
                            <label for="productos" class="form-label">Precio</label>
                            <input type="number" class="form-control" id="precio" name="precio" value="<%= productos.Precio %>" tabindex="1">
                        </div>
                        <div class="mb-3">
                            <label for="productos" class="form-label">Stock</label>
                            <input type="number" class="form-control" id="stock" name="stock" value="<%= productos.Stock %>" tabindex="1">
                        </div>
                        <div class="mb-3">
                            <label for="productos" class="form-label">Descripcion</label>
                            <!-- <input type="text" class="form-control" id="descripcion" name="descripcion" tabindex="1"> -->
                            <textarea class="form-control" id="descripcion" name="descripcion" tabindex="1"><%= productos.Descripcion %></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="productos" class="form-label">URL Img</label>
                            <input type="text" class="form-control" id="img" name="img" value="<%= productos.Img %>" tabindex="1">
                        </div>
                        <div class="mb-3">
                            <label for="productos" class="form-label">Codigo</label>
                            <input type="text" class="form-control" id="codigo" name="codigo" value="<%= productos.Codigo %>" tabindex="1">
                        </div>
                    <% } %>

                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>        
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>