<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Producto</title>
</head>
<body>
    <h1>Eliminar Producto</h1>
    <form action="/eliminarProducto" method="POST">
        <label for="idProducto">ID del Producto:</label>
        <input type="text" name="idProducto" id="idProducto" required>
        <button type="submit">Eliminar</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   
    <% if(typeof alert != "undefined") { %>
         <script>
             Swal.fire({
                 title:"<%= alertTitle %>",
                 text: "<%= alertMessage %>",
                 icon: "<%= alertIcon %>",
                 showConfirmButton: "<%= showConfirmButton %> ",
                 timer: "<%= timer %> ",
             }).then(()=>{
                 window.location="/<%= ruta %>"
             })
         </script>
         <% } %>
</body>
</html>
