<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Zona NBA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <!--<li class="nav-item"><a class="nav-link" href="#!">About</a></li>-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Equipos</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">Todos los Productos</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Los Angeles Lakers</a></li>
                                <li><a class="dropdown-item" href="#!">Golden State Warriors</a></li>
                                <li><a class="dropdown-item" href="#!">Boston Celtics</a></li>
                                <li><a class="dropdown-item" href="#!">Chicago Bulls</a></li>
                                <li><a class="dropdown-item" href="#!">New York Knicks</a></li>
                                <li><a class="dropdown-item" href="#!">Miami Heat</a></li>
                                <li><a class="dropdown-item" href="#!">Philadelphia 76ers</a></li>
                                <li><a class="dropdown-item" href="#!">Brooklyn Nets</a></li>
                                <li><a class="dropdown-item" href="#!">Dallas Mavericks</a></li>
                                <li><a class="dropdown-item" href="#!">Milwaukee Bucks</a></li>
                                <li><a class="dropdown-item" href="#!">Phoenix Suns</a></li>
                                <li><a class="dropdown-item" href="#!">Toronto Raptors</a></li>
                                <li><a class="dropdown-item" href="#!">Denver Nuggets</a></li>
                                <li><a class="dropdown-item" href="#!">Los Angeles Clippers</a></li>
                                <li><a class="dropdown-item" href="#!">Houston Rockets</a></li>
                                <li><a class="dropdown-item" href="#!">San Antonio Spurs</a></li>
                                <li><a class="dropdown-item" href="#!">Atlanta Hawks</a></li>
                                <li><a class="dropdown-item" href="#!">Memphis Grizzlies</a></li>
                                <li><a class="dropdown-item" href="#!">Sacramento Kings</a></li>
                                <li><a class="dropdown-item" href="#!">Portland Trail Blazers</a></li>
                                <li><a class="dropdown-item" href="#!">Cleveland Cavaliers</a></li>
                                <li><a class="dropdown-item" href="#!">New Orleans Pelicans</a></li>
                                <li><a class="dropdown-item" href="#!">Utah Jazz</a></li>
                                <li><a class="dropdown-item" href="#!">Indiana Pacers</a></li>
                                <li><a class="dropdown-item" href="#!">Minnesota Timberwolves</a></li>
                                <li><a class="dropdown-item" href="#!">Washington Wizards</a></li>
                                <li><a class="dropdown-item" href="#!">Orlando Magic</a></li>
                                <li><a class="dropdown-item" href="#!">Detroit Pistons</a></li>
                                <li><a class="dropdown-item" href="#!">Charlotte Hornets</a></li>
                                <li><a class="dropdown-item" href="#!">Oklahoma City Thunder</a></li>

                            </ul>
                        </li>
                    </ul>
                    <% if(login){ %>
                        <% if(rol === "data-entry"){ %> 
                            <button class="btn btn-primary rounded-pill px-3 m-3">
                                <span class="d-flex align-items-center">
                                    <i class="bi-person-fill me-2"></i>
                                    <span class="small"><%= nombre %></span>
                                </span>
                            </button>
                            <a href="logout" class="a-logout">Logout</a>
                        <% } else { %>
                            <a href="/admin" class="a-logout">Admin</a>
                            <button class="btn btn-primary rounded-pill px-3 m-3">
                                <span class="d-flex align-items-center">
                                    <i class="bi-person-fill me-2"></i>
                                    <span class="small"><%= nombre %></span>
                                </span>
                            </button>
                            <a href="logout" class="a-logout">Logout</a>
                        <% } %>
                    <% } else { %>
                        <button class="btn btn-primary rounded-pill px-3 m-3">
                            <a href="/login" style="text-decoration: none; color: white; display: flex; align-items: center;">
                                <i class="bi-person-fill me-2"></i>
                                <span class="small">Login</span>
                            </a>
                        </button>                        
                    <% } %>
                    
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header  class="bg-header py-5">
            <div class=" container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Zona NBA</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Consigue las camiestas de la mejor liga de basket🔥🔥🔥</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <% results.forEach((productos) => { %>
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="<%= productos.Img %>" alt="Foto del producto" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder"><%= productos.Nombre %></h5>
                                        <!-- Product price-->
                                        $<%= productos.Precio %>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <a class="btn btn-outline-dark mt-auto" href="./product.html">Ver Detalles</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </section>

        <aside class="text-center bg-blue py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xl-8">
                        <div class="h2 fs-1 text-white mb-4">"Puedo aceptar el fracaso; todos fracasan en algo. Pero no puedo aceptar no intentarlo."</div>
                        <img src="img/Jordans-Logo-PNG-Clipart.png" alt="jordan logo" style="height: 3rem" />
                    </div>
                </div>
            </div>
        </aside>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>


        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>

    </body>
</html>
